.DS_Store
node_modules/
www/dist/
www/dist/*
www/node_modules/
www/node_modules/*
www/public/bower_lib/
www/public/bower_lib/*
www/public/build/
www/public/build/*


# Ignore docs files
www/.sass-cache/
www/.sass-cache/*

# Shortcut links
/js
/css
/views
