<div class="panel panel-default policy-table">
    <div class="panel-heading"><h4></h4></div>
    
    <section class="product-panel">

        <label for="product_name" class="latblesection">Name</label>
        <input type="text" id="product_name" ng-model="vm.activeProduct.name" placeholder='enter projectname'><br>

        <label for="scale">Scale</label>
        <input type="number" id="scale" ng-model="vm.activeProduct.scale"><br>

        <label for="scale">Scale</label>
        <input type="number" id="scale" ng-model="vm.activeProduct.scale"><br>

        <label for="scale">Scale</label>
        <input type="number" id="scale" ng-model="vm.activeProduct.scale"><br>

        <label for="scale">Scale</label>
        <input type="number" id="scale" ng-model="vm.activeProduct.scale"><br>

        <label for="scale">Scale</label>
        <input type="number" id="scale" ng-model="vm.activeProduct.scale"><br>

        <label>
            asdf
            <input type="checkbox" name="input" ng-model="qty">
        </label>

        <button class="btn btn-primary"
                ng-click="vm.updateProject()">
            Default
        </button>

    </section>

    <hr />

    <section class="product-panel">

        <label for="product_name" class="latblesection">Name</label>
        <input type="text" id="product_name" ng-model="vm.activeProduct.name" placeholder='enter projectname'><br>

        <label for="scale">Scale</label>
        <input type="number" id="scale" ng-model="vm.activeProduct.scale"><br>

    </section>

    <hr />

    <section class="product-panel">

        <label for="product_name" class="latblesection">Name</label>
        <input type="text" id="product_name" ng-model="vm.activeProduct.name" placeholder='enter projectname'><br>

        <label for="scale">Scale</label>
        <input type="number" id="scale" ng-model="vm.activeProduct.scale"><br>

    </section>

    

</div>