<div class="panel panel-default">
   <br />
    <div>
        <label>
            asdf
            <input type="number" name="input" ng-model="qty"
                   style="width:100px" min="1" max="9" required>
        </label>
    </div>
    <div>
        <label>
            asdf
            <input type="number" name="input" ng-model="qty"
                   style="width:100px" min="1" max="9" required>
        </label>
    </div>
    <div>
        <label>
            asdf
            <input type="number" name="input" ng-model="qty"
                   style="width:100px" min="1" max="9" required>
        </label>
    </div>
    <div>
        <label>
            asdf
            <input type="number" name="input" ng-model="qty"
                   style="width:100px" min="1" max="9" required>
        </label>
    </div>
    <div>
        <label>
            asdf
            <input type="number" name="input" ng-model="qty"
                   style="width:100px" min="1" max="9" required>
        </label>
    </div>
    <div>
        <label>
            asdf
            <input type="number" name="input" ng-model="qty"
                   style="width:100px" min="1" max="9" required>
        </label>
    </div>
    <div>
        <label>
            asdf
            <input type="number" name="input" ng-model="qty"
                   style="width:100px" min="1" max="9" required>
        </label>
    </div>
</div>