<div class="panel panel-default policy-table">
    <div class="panel-heading"><h4>{{title}}</h4></div>
    <section class="product-panel">

        <label for="scale">Scale</label>
        <input type="radio" id="scale" ng-model="vm.activeProduct.scale"><br>

        <label for="scale">Scale</label>
        <input type="radio" id="scale" ng-model="vm.activeProduct.scale"><br>

        <button class="btn btn-primary"
                ng-click="vm.updateProject()">
            Import...
        </button>

    </section>

    <hr />

    <section class="product-panel">

        <label for="scale">Scale</label>
        <input type="number" id="scale" ng-model="vm.activeProduct.scale"><br>

        <label for="scale">Scale</label>
        <input type="number" id="scale" ng-model="vm.activeProduct.scale"><br>
        <br />
        <p>list box goes here</p>

    </section>

    <hr />

    <section class="product-panel">

        <label for="scale">Scale</label>
        <input type="number" id="scale" ng-model="vm.activeProduct.scale"><br>

        <label for="scale">Scale</label>
        <input type="number" id="scale" ng-model="vm.activeProduct.scale"><br>
        <br />

        <button class="btn btn-primary"
                ng-click="vm.updateProject()">
            Save Frame...
        </button>
        <button class="btn btn-primary"
                ng-click="vm.updateProject()">
            Invest Plan...
        </button>
        <button class="btn btn-primary"
                ng-click="vm.updateProject()">
            Loans...
        </button>

        <p>list box goes here</p>

    </section>

    <hr />

</div>