<div classss="panel panel-default policy-table">
    <!--<table st-table="displayCollection" st-safe-src="rowCollection" class="table">
        <thead>
            <tr>
                <th st-sort="policyName" class="clickable">Project Name</th>
                <th st-sort="policyId" class="clickable">Node</th>
                <th st-sort="type" class="clickable">Status</th>
                <th st-sort="exch" class="clickable">Date</th>
                <th st-sort="status" class="clickable">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in displayCollection">
                <td>{{row.policyName}}</td>
                <td>{{row.policyId}}</td>
                <td>{{row.policyType}}</td>
                <td>{{row.policyExch}}</td>
                <td>{{row.policyStatus}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="displayedPages"></div>
                </td>
            </tr>
        </tfoot>
    </table>-->

    <!--<fieldset class="scheduler-border">
        <legend class="scheduler-border">Start Time</legend>
        <div class="control-group">
            <label class="control-label input-label" for="startTime">Start :</label>
            <div class="controls bootstrap-timepicker">
                <input type="text" class="datetime" id="startTime" name="startTime" placeholder="Start Time" />
                <i class="icon-time"></i>
            </div>
        </div>
    </fieldset>-->

    <label>
        Numberaa:
        <input type="number" name="input" ng-model="vm.value" style="width:100px"
               min="1" max="9" required>
    </label>
    <br /><br /><br /><br />
    <tabset>
        <tab heading="Simple">
            aaaa
        </tab>
        <tab heading="Advanced">
            bbbb
        </tab>
    </tabset><br />
</div>