
// -------------------------
$toolbar-height: 50px; // selected member toolbar
$nav-expanded-width: 210px; // left navigation open
$nav-collapse-width: 58px; // left navigation closed

$site-min-width: 1000px; // BMS and HRI is 1280
$site-max-width: 1600px; // PEBP

$font-color: #333333; // main font
$font-color-soft: #646464;
$form-important-color: #016472;

$menu-bg-color: #262A2D;
$menu-color-active: #00ACCD;
$menu-color: #fff;
$font-weight-base:        400;
$font-weight-bold:        600;
$brand-primary:         #428bca;
$brand-success:         #5cb85c;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;
$brand-info:            #5bc0de;


.navlist {
/*  -webkit-box-shadow: 0 0 6px rgba(3,3,3,0.6);
  box-shadow: 0 0 6px rgba(9,9,9,0.6);
*/  
  position: fixed;
  left: 0;
  height: 100%;
  min-height: 100%;
  background-color: $menu-bg-color;
}
/*.navlist-items {
  .backface-visibility(hidden);
}*/




.navlist-col {
    padding-left: 0;
    padding-right: 0;
}

/*.navlist {
    background-color: $menu-bg-color;
}*/

.navlist-menu {
    margin-bottom: 8px;
}

.navlist-menu-incall,
.navlist-menu-submember {
    border-top: 1px solid #E5E5E5;
}

.navlist-items {
    padding: 0;
    margin: 0;
    list-style: none;

    > li {
        display: block;
    }
    > .active {
        .navlist-link {
            color: $menu-color-active;
        }
    }
}

.navlist-link,
.navlist-head {
    display: block;
    padding: 12px 18px;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.navlist-link {
    color: $menu-color;

    &:hover,
    &:focus {
        color: $menu-color-active;
    }
}

.navlist-head {
    color: $brand-info;
}

.navlist-label,
.navlist-head span {
    display: none;
    font-weight: bold;
}

.lock-visibility{
    .navlist-label,
    .navlist-head span {
        display: inline !important;
        font-weight: bold;
    }
}

.navlist-icon {
  margin-right: 4px;
  font-size: 2em;
  line-height: 1.6em;
  vertical-align: -0.26em;
  width: 1.28571429em;
  text-align: center;
}

.navlist-title {
    font-weight: $font-weight-bold;
}

.section-navigation {
    width: $nav-collapse-width;
    -webkit-transition: width 0.1s ease-in-out ;
    -moz-transition: width 0.1s ease-in-out ;
    -o-transition: width 0.1s ease-in-out ;
    transition: width 0.1s ease-in-out ;
}
.active-arrow{
  color: #00accd;
  position: absolute;
  right: -8px;
  margin-top: -2.9em;
}




//====================
.product-panel section {
    padding: 0 1em .5em;
}
.product-pane h1 {
	margin: .5em 0;
}
.product-pane label {
	float: left;
    width: 10em;
    text-align: right;
    padding-bottom: .5em;
}
.product-pane input {
    margin-left: 1em;
    margin-bottom: .5em;
}

.latblesection {
    color: #00accd;
}