// Add custom font
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
// Import bootstrap and fontawesome
@import "bootstrap";
@import "font-awesome";

@import 'vars';
@import 'mixins';
@import 'typography';

@import 'menu.style';
@import 'broker-portal-icons';
@import 'layout.scss';

@import 'dashboard';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  //padding: $half-space;
  padding:0px;
}
